<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552682167427-o3781gr7gd4c2p0eep4nhj7v94irpfrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552682167427-o3781gr7gd4c2p0eep4nhj7v94irpfrv</string>
	<key>API_KEY</key>
	<string>AIzaSyBOxc3kCleHcoepCBB7Kh3raeGVD_qsbpE</string>
	<key>GCM_SENDER_ID</key>
	<string>552682167427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Detroit-Labs.FotoBank</string>
	<key>PROJECT_ID</key>
	<string>project-7554510663044291640</string>
	<key>STORAGE_BUCKET</key>
	<string>project-7554510663044291640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552682167427:ios:0065d8a43789c844</string>
	<key>DATABASE_URL</key>
	<string>https://project-7554510663044291640.firebaseio.com</string>
</dict>
</plist>